html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
   
    background-color: #f2f2f2;
}
.container {
    background-color: #ffffff;
    box-shadow: 0 0 5px;    
}
.background-index {
    background-image: url("../img/background-photo.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
}

a {
    text-decoration: none;
}
.navigation {
    font-size: 16px;
    line-height: 20px;
    color: #000000;

    background-color: #ffffff;
}
.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: #000000;
    font-weight: bold;
}

.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:active {
    color: #b2b2b2;
}
.basic-info {
    text-align: center;
}
.features {
    text-align: center;
}
.features h3 {
    font-size: 21px;
    font-weight: bold;
}
.features-blue {
    background-color: #81b3d2;
    color: #ffffff;
}
.features-white {
    background-color: #ffffff;
}
.features-white h4 {
    font-weight: bold;
    font-size: 21px;
}
.features-grey {
    background-color: #eeeeee;
    color: #000000;
    font-size: 14px;
}
.features-grey h3 {
    font-weight: bold;
    font-size: 21px;
}
.more-info {
    text-align: center;
}
.more-info strong {
    font-size: 30px;
}
.search-hotel {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
  /*  padding: 30px 0; */
    background-color: #766357;
    border: none;
}
.map {
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
}
.footer {
    background-color: #ffffff;
}
.contact-info {
    text-align: left;
    font-size: 21px;
    font-weight: bold;
}
.footer a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}
.social-network {
    list-style: none;
}
.developer {
    font-weight: bold;
    text-align: right;
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.housing {
    background-image: url("../img/icons/icon-1.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.food {
    background-image: url("../img/icons/icon-2.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.souvenirs {
    background-image: url("../img/icons/icon-3.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.list-hotels {
    list-style: none;
}
.list-hotels a {
    text-decoration: none;
}
.hotels-name {
    color: #000000;
}
.hotels-name:hover {
    color: #81b3d2;
}
.hotels-name:active {
    color: #b2b2b2;
}
.filter-form {
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.filter-form legend {
    font-weight: bold;
}
.filter-form fieldset {
    border:0 none;
}
.filter-list {
    list-style: none;
}
.filter-form button {
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: white;
    border-radius: 3px;
    border: 2px solid white;
    outline: none;
    background: none;
    padding: 5px 40px;
}
.filter-form button:hover {
    background-color: #ffffff;
    color: #000000;
}
.rating {
    text-align: right;
}
.rating-value {
    padding: 3px 17px;
    color: #797979;
    font-size: 14px;
    background-color: #f2f2f2;
}

.stars li {
    background-image: url("../img/icons/star.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.detail {
    padding: 3px 17px;
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 14px;
    font-weight: bold;
}
.detail:hover {
    background-color: #669ec0;
}
.detail:active {
    background-color: #5496bd;
    color: #76abca;
}
.reservation {
    padding: 3px 17px;
    color: #ffffff;
    background-color: #766357;
    font-size: 14px;
    font-weight: bold;
}
.reservation:hover {
    background-color: #604e43;
}
.reservation:active {
    color: #766860;
    background-color: #503e33;
}
.search-index {
    font: inherit;

    text-align: center;
    color: #ffffff;
    text-transform: 
    uppercase;
    font-size: 21px;
    font-weight: bold;
      /*  padding: 30px 0; */
    background-color: #81b3d2;
    border: none;
}
.form-arrival label{
    font-weight: bold;
}
.form-arrival input {
    font-size: 14px;
    font-weight: bold;
    background-color: #f2f2f2;
    outline: none;
    border: none;
    color: #000000;
}
.form-arrival input:hover {
    background-color: #ebebeb;
}
.form-arrival input:focus {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}

.sort a {
    border-bottom: 1.5px dotted #81b3d2;
    color: #b2b2b2;
}
.sort a:hover {
    border-bottom: 1.5px dotted #81b3d2;
    color: #81b3d2;
}
.sort a:active {
    border-bottom: none;
    color: #000000;
}
.active a {
    border-bottom: none;
    color: #81b3d2;
}
.icon-filter {
    fill: #cacaca;
}
.icon-filter:hover {
    fill: #272324;
}
.icon-filter:active {
    fill: #81b3d2;
}
.icon-filter-active {
    fill: #81b3d2;
}