html,
body {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.container {
    background-color: #ffffff;
    box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
    width: 1200px;
    margin: 0 auto;
}
.background-index {
    background-color: #8898b9;
    background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
    min-height: 500px;
    background-position: bottom,0% 21%;
    background-repeat: no-repeat;
    text-align: center;
}
.intro-welcome {
    margin-top: 76px;
    margin-bottom: 74px;
}
a {
    text-decoration: none;
}
.header {
    position: relative;
}
.header-logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 140px;
    height: 72px;
    margin-left: -70px;
}
.navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 15px;
    justify-content: space-between;
}
.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.site-navigation a {
    color: #000000;
    font-weight: bold;
}
.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:active {
    color: #b2b2b2;
}
.site-navigation li {
    box-sizing: border-box;
    width: 20%;
}
.site-navigation li:nth-child(1) {
    text-align: left;
    padding-left: 70px;
}
.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: 20%;
    padding-left: 72px;
}
.site-navigation li:nth-child(3) {
    text-align: right;
    padding-left: 5px;
    padding-right: 75px;
}
.site-navigation li:nth-child(4) {
    text-align: right;
    padding-right: 72px;
}
.basic-info {
    width: 1200px;
    padding-top: 60px;
    padding-bottom: 54px;
    text-align: center;
}
.basic-info h1 {
    color: #000000;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin: 0 auto;
    width: 600px;
}
.basic-info p {
    margin-bottom: 0;
    margin-top: 30px;
}
.features {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.features-inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.features h3 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 24px;
}
.features-blue {
    min-height: 256px;
    background-color: #81b3d2;
    color: #ffffff;
    width: 100%;
}
.features-blue-text-city {
    padding-top: 26px;
    padding-right: 60px;
    padding-left: 60px;
}
.features-blue-text-city h3 {
    width: 150px;
    margin-top: 21px;
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
}
.features-blue-text-city p {
    margin-bottom: 21px;
}
.features-blue-text-bridge {
    padding-top: 24px;
    padding-right: 40px;
    padding-left: 40px;
}
.features-blue-text-bridge h3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: auto;
}
.features-blue-text-bridge p {
    margin-bottom: 21px;
}
.features-white {
    width: 400px;
    background-color: #ffffff;
    padding-top: 55px;
    padding-bottom: 69px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    box-sizing: border-box;
}
.features-white h4 {
    padding-top: 78px;
    margin-bottom: 19px;
    font-weight: bold;
    font-size: 21px;
}
.features-white p {
    padding-top: 5px;
}
.features-grey {
    background-color: #eeeeee;
    color: #000000;
    font-size: 14px;
    text-align: center;
    width: 400px;
    padding-top: 46px;
    padding-bottom: 39px;
    box-sizing: border-box;
}
.features-grey h3 {
    font-weight: bold;
    font-size: 21px;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 25px;
}
.features-grey p {
    width: 280px;
    margin-top: 0;
    margin-bottom: 21px;
    margin-left: auto;
    margin-right: auto;
}
.features-grey-tourist p {
    width: 250px;
}
.features-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color:#000000;
}
.interesing-block {
    padding-left: 315px;
    padding-right: 315px;
    text-align: center;
    padding-top: 57px;
    position: relative;
}
.interesing-block p {
    margin-bottom: 47px;
    margin-top: 32px;
    line-height: 24px;
}
.interesing-block h4 {
    margin: 0;
    font-size: 30px;
}
.search-hotel {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 32px;
    background-color: #766357;
    border: none;
    width: 568px;
}
.map {
    background-color: #cbdda9;
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
}
.map iframe {
    width: 100%;
    height: 587px;
    border: 0;
}
.footer {
    width: 1200px;
    padding-bottom: 35px;
    display: flex;
    padding-top: 6px;
}
.footer-index { 
    position: absolute;
    margin-top: -120px;
    background-color:rgba(253,253,253,0.9);
}
.contact-info-index {
    text-align: left;
    font-size: 21px;
    color: #000000;
    font-weight: bold;
    padding-left: 125px;
    margin-top: 29px;
    width: 275px;
}
.contact-info-catalog {
    text-align: left;
    font-size: 21px;
    color:#000000;
    font-weight: bold;
    padding-left: 128px;
    margin-top: 29px;
    width: 272px;
}
.contact-info-index p, .contact-info-catalog p {
    margin-top: 0px;
    margin-bottom: 10px;
}
.footer a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}
.footer-social {
    width: 400px;
    margin-top: 30px;
}
.social-network {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.social-button svg {
    fill:#ffffff;
}
.social-button:hover svg {
    fill:#ffffff;
}
.social-button:active svg {
    fill:#88b6d1;
}
.social-button:hover {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
}
.developer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}
.developer span {
    padding-right: 7px;
}
.htmlacademy-logo {
    margin-top: 5px;
}
.htmlacademy-logo svg {
    fill:#231f20;    
}
.htmlacademy-logo:hover svg {
    fill:#81b3d2;
}
.htmlacademy-logo:active svg {
    fill:#bdbbbc;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.housing {
    background-image: url("../img/icons/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 50% 60px;
}
.food {
    background-image: url("../img/icons/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 50% 62px;
}
.souvenirs {
    background-image: url("../img/icons/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 50% 57px;
}

.list-hotels {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-hotels a {
    text-decoration: none;
}
.result-hotels {
    display: flex;
    padding-top: 27px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 27px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
}
.hotels-name {
    color: #000000;
    font-size: 21px;
    font-weight: bold;
}
.info-hotels {
    padding-left: 30px;
    width: 780px;
}
.info-hotels h3 {
    margin: 0;
}
.info-hotels p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.hotels-name:hover {
    color: #81b3d2;
}
.hotels-name:active {
    color: #b2b2b2;
}
.filter-form {
    color: #ffffff;
    background-color: #81b3d2;
    background-image: url("../img/filter-background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 22px;
    padding-bottom: 15px;
    line-height: 30px;
    display: flex;
}
.section-form-structural {
    text-align: left;
    width: 240px;
    padding-left: 70px;
    padding-bottom: 0;
    padding-top: 0;
}
.section-form-housing {
    padding-left: 10px;
    width: 277px;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.section-form-price {
    padding-left: 200px;
    padding-right: 72px;
    width: 327px;
}
.price-controls {
    height: 33px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    position: relative;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    transform: translate(-50%, -50%);
    background: #ffffff;
}
.price-controls label {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.price-controls .min-price {
    padding-left: 65px;
}
.price-controls .max-price {
    padding-left: 73px;
}
.range-outer-bar {
    position: relative;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 32px;      
    height: 2px;
}
.range-outer-bar .range-inner-bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.min-value-runner, .max-value-runner{
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.min-value-runner {
    left: 0;
}
.max-value-runner {
    left: 80%;
}
.max-value-runner:hover, .min-value-runner:hover {
    width: 5px;
    height: 5px;
}
.filter-form legend {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 0;;
}
.filter-form fieldset {
    border: 0 none;
}
.filter-list {
    list-style: none;
    padding: 0px;
    margin-top: 15px;
}
.filter-form li {
    margin-bottom: 15px;
}
.filter-form button {
    margin-left: 85px;
    display: block;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
.filter-form button:hover {
    background-color: #ffffff;
    color: #000000;
}
.filter-form input[type="checkbox"] + label {
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}
.filter-form input[type="checkbox"] + label::before {
    background-image: url("../img/icons/checkbox-off.svg");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    font-size: 26px;
}
.filter-form input[type="checkbox"]:checked + label::before {
    background-image: url("../img/icons/checkbox-on.svg");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    font-size: 26px;
}
.filter-form input[type="checkbox"]:focus + label::before {
    outline:auto 2px #4D90FE;
}
.filter-form input[type="checkbox"]:disabled + label::before {
    background-image: url("../img/icons/checkbox-off-block.svg");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    font-size: 26px;
}
.filter-form input[type="checkbox"]:checked:disabled + label::before {
    background-image: url("../img/icons/checkbox-on-block.svg");
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 27px;
    height: 23px;
    font-size: 26px;
}
.result-filter {
    background: #fefefe;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    padding-left: 72px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.result-filter p {
    padding-left: 47px;
    padding-right: 40px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
}
.rating-full {
    text-align: right;
}
.rating {
    background-image: url(../img/icons/star.svg);
    background-repeat: space;
    height: 17px;
    padding-top: 5px;
    margin-bottom: 46px;
    margin-left: auto;
    margin-top: 2px;
}
.rating-1 {
    width: 18px;
}
.rating-2 {
    width: 40px;
}
.rating-3 {
    width: 65px;
}
.rating-4 {
    width: 89px;
}
.rating-5 {
    width: 107px;
}
.rating span::before {
    content: "";
    background-image: url("../img/icons/star.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    padding-right: 22px; 
}
.rating-value {
    padding-top: 6px;
    padding-bottom: 3px;
    padding-right: 14px;
    padding-left: 14px;
    color: #797979;
    font-size: 14px;
    background-color: #f2f2f2;
}
.kinds-hotels {
    width: 180px;
    display: flex;
    justify-content: space-between;
    line-height: 17px;
}
.detail {
    padding: 5px 17px;
    color: #ffffff;
    background-color: #81b3d2;
    font-size: 14px;
    font-weight: bold;
    margin-right: 2px;
}
.detail:hover {
    background-color: #669ec0;
}
.detail:active {
    background-color: #5496bd;
    color: #76abca;
}
.reservation {
    padding: 5px 17px;
    color: #ffffff;
    background-color: #766357;
    font-size: 14px;
    font-weight: bold;
}
.reservation:hover {
    background-color: #604e43;
}
.reservation:active {
    color: #766860;
    background-color: #503e33;
}
.search-index {
    font: inherit;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    padding-top: 19px;
    padding-bottom: 18px;
    width: 458px;
    background-color: #81b3d2;
    border: none;
}
.search-index:hover {
    background-color: #669ec0;
}
.search-index:active {
    background-color: #5496bd;
    color:#76abca;
}
.form-arrival {
    padding: 55px;
    position: absolute;    
    left: 50%;
    margin-left: -284px;
    background: #ffffff;
    color: #000000;
    box-shadow: 0px 0px 15px 7px rgba(0, 1, 1, 0.15);
}
@keyframes ascent {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.form-arrival-invisible {
    display: none;
}
.form-arrival-visible {
    display: block;
    animation: ascent 0.7s;
}
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
.form-error {
    animation: shake 0.7s;
}
.date-field {
    text-align: left;
    margin-bottom: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.date-field input {
    width: 304px;
    height: 36px;
}
.quantity-field {
    text-align: left;
    margin-top: 29px;
    margin-bottom: 53px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.quantity-field input {
    width: 36px;
    height: 36px;
}
.form-arrival label{
    font-weight: bold;
}
.form-arrival input {
    font-size: 14px;
    font-weight: bold;
    background-color: #f2f2f2;
    outline: none;
    border: 1px solid #f2f2f2;
    color: #000000;
    text-transform: uppercase;
}
.quantity-field input {
    text-align: center;
}
.form-arrival input:hover {
    background-color: #ebebeb;
}
.form-arrival input:focus {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
}
.sort {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.sort li {
    margin-top: 5px;
    padding-right: 33px;
    font-size: 12px;
}
.sort a {
    border-bottom: 1px dotted #81b3d2;
    color: #b2b2b2;
}
.sort a:hover {
    border-bottom: 1px dotted #81b3d2;
    color: #81b3d2;
}
.sort a:active {
    border-bottom: none;
    color: #000000;
}
.active a {
    border-bottom: none;
    color: #81b3d2;
}
.icon-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 460px;
    margin-top: 5px;
}
.icon-filter {
    margin-left: 11px;
}
.icon-filter svg {
    fill: #cacaca;
}
.icon-filter:hover svg {
    fill: #272324;
}
.icon-filter:active svg {
    fill: #81b3d2;
}
.icon-filter-active svg {
    fill: #81b3d2;
}
.icon-calendar {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    position: absolute;
    top: 10px;
    left: 428px;
}
.icon-calendar svg {
    fill: #a9a9a9;
}
.icon-calendar svg:hover {
    fill:#000000;
}
.icon-calendar svg:active {
    fill:#81b3d2;
}
.icon-calendar:focus {
    outline: none;
    border:solid 1px #4D90FE;
}
.adult {
    display: flex;
    flex-wrap: wrap;
}
.btn-minus {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: #a9a9a9;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
}
.btn-plus {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: #a9a9a9;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;    
}
.quantity-field button[name="minus-adult"] {
    margin-left: 40px;
}
.quantity-field button[name="plus-adult"] {
    margin-right: 54px;
}
.quantity-field button[name="minus-child"] {
    margin-left: 27px;
}
.btn-plus:hover, .btn-minus:hover {
    color:#000000;
}
.btn-plus:active, .btn-minus:active {
    color:#81b3d2;
}
.date-travel {
    padding-left: 12px;
    padding-right: 28px;
}
.quantity-inp {
    padding: 0;
}